@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* CSS VARIABLES */
:root {
  /* COLORS */
  --color-card1: hsl(180, 62%, 55%);
  --color-card2: hsl(0, 78%, 62%);
  --color-card3: hsl(34, 97%, 64%);
  --color-card4: hsl(212, 86%, 64%);
  --color-heading: hsl(234, 12%, 34%);
  --color-text: hsl(229, 6%, 66%);
  --color-bg: hsl(0, 0%, 98%);
}

/* media-queries */
/* GLOBAL SETTINGS */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
@media only screen and (max-width: 81.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 43.75%;
  }
}
@media only screen and (max-width: 50em) {
  html {
    font-size: 37.5%;
  }
}
@media only screen and (max-width: 43.75em) {
  html {
    font-size: 31.25%;
  }
}

body {
  min-height: 100vh;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  color: var(--color-text);
  background-color: var(--color-bg);
  /* for centering all items */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  margin: 8rem auto;
}
@media only screen and (max-width: 37.5em) {
  body {
    margin: 6rem 2rem;
  }
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

/* footer styling */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--color-card2);
}

/* HEADING */
.primary-heading {
  color: var(--color-heading);
  text-align: center;
}
.primary-heading--1 {
  font-size: 4rem;
  font-weight: 200;
  /* MEDIA-QUERY */
}
@media only screen and (max-width: 43.75em) {
  .primary-heading--1 {
    font-size: 3rem;
  }
}
.primary-heading--2 {
  font-size: 4rem;
  font-weight: 600;
}
@media only screen and (max-width: 43.75em) {
  .primary-heading--2 {
    font-size: 3rem;
  }
}
.primary-heading--text {
  color: var(--color-text);
  width: 60%;
  margin: 1.5rem auto;
}
@media only screen and (max-width: 43.75em) {
  .primary-heading--text {
    width: 70%;
  }
}

/* GRID CONTAINER */
.container {
  max-width: 130rem;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  align-items: center;
  /* MEDIA-QUERY */
}
@media only screen and (max-width: 81.25em) {
  .container {
    margin: 0 4rem;
  }
}
@media only screen and (max-width: 43.75em) {
  .container {
    max-width: 40rem;
    grid-template-columns: 1fr;
  }
}

/* CARDS */
.card {
  background-color: #fff;
  padding: 3rem 4rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  border-radius: 0.6rem;
  box-shadow: 0 8px 20px 2px rgba(52, 55, 142, 0.178);
}
.card__heading {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-heading);
}
.card__img {
  max-height: 7rem;
  align-self: flex-end;
  margin-top: 3rem;
}
.card__1 {
  grid-area: 1/1/-1/2;
  border-top: 0.5rem solid var(--color-card1);
}
@media only screen and (max-width: 43.75em) {
  .card__1 {
    grid-area: 1/1/2/-1;
  }
}
.card__2 {
  grid-area: 1/2/2/3;
  border-top: 0.5rem solid var(--color-card2);
}
@media only screen and (max-width: 43.75em) {
  .card__2 {
    grid-area: 2/1/3/-1;
  }
}
.card__3 {
  grid-area: 2/2/-1/3;
  border-top: 0.5rem solid var(--color-card3);
}
@media only screen and (max-width: 43.75em) {
  .card__3 {
    grid-area: 3/1/4/-1;
  }
}
.card__4 {
  grid-area: 1/3/-1/-1;
  border-top: 0.5rem solid var(--color-card4);
}
@media only screen and (max-width: 43.75em) {
  .card__4 {
    grid-area: 4/1/5/-1;
  }
}

/*# sourceMappingURL=style.css.map */
